body {
    font-family: Arial, sans-serif;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: rgb(217, 205, 248); 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #3498db, #b2bac2);
    padding: 10px 10px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.input-box {
    background: linear-gradient(to right, #ff8c00, #ff4500);
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 25%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 25px;
}

.input-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 11px;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.input-box label {
    display: block;
    margin: 8px 0px 5px;
}

.input-box button::before {
    margin-top: 10px;
    background-color: #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

#products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    background-color: #b2b2b2;
}

.product:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    zoom: 1.009;
    color: #fff;
    background-color: #a8a8a8;
}

button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    padding: 8px 12px;
    overflow: hidden;
    margin: 0.5vh 0.5vh 0 0;
    font-size: 16px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

button:hover {
    color: white;
}

button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
}

button:hover::before {
    top: -30px;
    left: -30px;
}